@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #47484b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #979ea8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1dffb;
}
